<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
  <h1>Basketball Team Signup!</h1>
  <form>
    <label for="fname">Team Name:</label>
    <input type="text" id="teamname" name="teamname"><br>
    <label for="lname">Last name:</label><br>
    <input type="text" id="lname" name="lname">
  </form>
 </head>
 <body>
 </body>
</html>
