<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
  <h1>Basketball Team Signup!</h1>
  <form>
    <label for="teamname">Team Name:</label>
    <input type="text" id="teamname" name="teamname"><br>
    
    <label for="coach">Coach:</label>
    <input type="text" id="coach" name="coach"><br>
    
    <label for="pointguard">Point Guard:</label>
    <input type="text" id="pointguard" name="pointguard"><br>
    
    <label for="shootingguard">Shooting Guard:</label>
    <input type="text" id="shootingguard" name="shootingguard"><br>
    
    <label for="smallforward">Small Forward:</label>
    <input type="text" id="smallforward" name="smallforward"><br>
    
    <label for="powerforward">Power Forward:</label>
    <input type="text" id="powerforward" name="powerforward"><br>
    
    <label for="center">Center:</label>
    <input type="text" id="center" name="center"><br>

    <input type="submit" id="Submit" value="Submit">

  </form>
 </head>
 <body>
 </body>
</html>
