<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
  <h1>Basketball Team Signup!</h1>
  <form>
    <label for="name">Team Name:</label>
    <input type="text" id="name" name="name"><br>

    <label for="coach">Coach:</label>
    <input type="text" id="coach" name="coach"><br>

    <label for="gp">Point Guard:</label>
    <input type="text" id="gp" name="gp"><br>

    <label for="sg">Shooting Guard:</label>
    <input type="text" id="sg" name="sg"><br>

    <label for="sf">Small Forward:</label>
    <input type="text" id="sf" name="sf"><br>

    <label for="pf">Power Forward:</label>
    <input type="text" id="pf" name="pf"><br>

    <label for="center">Center:</label>
    <input type="text" id="c" name="c"><br>

    <input type="submit" id="Submit" value="Submit">

  </form>
 </head>
 <body>
 </body>
</html>
